<footer class="secondBodyDashboard text-white py-2">
    <div class="container">
        <!-- Logo -->
        <div class="text-center mb-3">
            <span class="h3 textoprincipalcolor">Accoms</span>
            <sup class="text-white">BETA</sup>
        </div>

        <!-- Legales -->
        <!-- <div class="mb-3">
            <h5 class="text-center mb-2">Legales</h5>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link text-white">Guías para la comunidad</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Política DMCA</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Política de Privacidad</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Términos del Servicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Ayuda y soporte</a></li>
            </ul>
        </div> -->

        <!-- Recursos -->
        <!-- <div class="mb-3">
            <h5 class="text-center mb-2">Recursos</h5>
            <ul class="nav justify-content-center flex-wrap">
                <li class="nav-item"><a href="#" class="nav-link text-white">Marca Kick</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Merchandising oficial de Kick</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Comunidad de Kick</a></li>
            </ul>
        </div> -->

        <!-- Idioma -->
        <div class="text-center mb-3">
            <h5 class="mb-2">Idioma</h5>
            <!-- <select class="form-select form-select-sm w-auto mx-auto" (change)="changeLanguage($event)">
          <option>Español</option>
          <option>English</option>
        </select> -->
        </div>

        <!-- Redes sociales -->
        <div class="text-center">
            <a href="#" class="text-white mx-2"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="text-white mx-2"><i class="fa-brands fa-discord"></i></a>
            <a href="#" class="text-white mx-2"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>