<div class="container-fluid">
    <div class="shadow rounded p-3">
        <h2 class="card-title text-center mb-4">Contraseña de la cuenta </h2>
        <div class="row">
            <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="contrasenaActual" class="form-label">Contraseña Actual</label>
                    <div class="input-group">
                        <input id="contrasenaActual" formControlName="contrasenaActual"
                            [type]="showcontrasenaActual ? 'text' : 'password'" placeholder="Contraseña"
                            class="form-control" (input)="confirmarClaves()" />
                        <button type="button" (click)="showcontrasenaActual = !showcontrasenaActual"
                            class="btn btn-outline-secondary" id="button-addon2">
                            <i class="fas" [ngClass]="showcontrasenaActual ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <input id="contrasena" formControlName="contrasena"
                            [type]="showcontrasena ? 'text' : 'password'" placeholder="Contraseña" class="form-control"
                            (input)="confirmarClaves()" />
                        <button type="button" (click)="showcontrasena = !showcontrasena"
                            class="btn btn-outline-secondary" id="button-addon2">
                            <i class="fas" [ngClass]="showcontrasena ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>
                    <div
                        *ngIf="configForm.get('contrasena')?.invalid && (configForm.get('contrasena')?.touched || configForm.get('contrasena')?.dirty)">
                        <small class="error text-danger">La contraseña es requerida y debe tener al menos 6
                            caracteres.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="contrasenaDos" class="form-label">Confirmar Contraseña</label>
                    <div class="input-group">
                        <input id="contrasenaDos" formControlName="contrasenaDos"
                            [type]="showcontrasenaDos ? 'text' : 'password'" placeholder="Contraseña"
                            class="form-control" (input)="confirmarClaves()" />
                        <button type="button" (click)="showcontrasenaDos = !showcontrasenaDos"
                            class="btn btn-outline-secondary" id="button-addon2">
                            <i class="fas" [ngClass]="showcontrasenaDos ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>
                    <div
                        *ngIf="configForm.get('contrasenaDos')?.invalid && (configForm.get('contrasenaDos')?.touched || configForm.get('contrasenaDos')?.dirty)">
                        <small class="error text-danger">La contraseña es requerida y debe tener al menos 6
                            caracteres.</small>
                    </div>
                    <div *ngIf="passwordDiferentes">
                        <small class="error text-danger">La contraseñas son diferentes.</small>
                    </div>
                </div>
                <div class="col-12 text-center" *ngIf="mensajeError!==''">
                    <small class="error text-danger">{{mensajeError}}.</small>
                </div>
                <button *ngIf="!isLoading" type="submit" [disabled]="configForm.invalid || passwordDiferentes"
                    class="btn btn-custom w-100">Actualizar</button>
                <button *ngIf="isLoading" type="button" class="btn btn-custom w-100"><i
                        class="fas fa-spinner fa-spin"></i></button>
            </form>
        </div>
    </div>
</div>