<div class="d-flex flex-column flex-md-row vh-100 bodyDashboard text-white">
    <!-- Sidebar -->
<!-- 
    <div [class.opened]="sidebarOpened" class="sidebar secondBodyDashboard">
        <ul>
            <li *ngFor="let channel of placeholderStreams">
                <img [src]="channel.logo" alt="Icon">
                <span *ngIf="sidebarOpened">{{ channel.nombre }}</span>
            </li>
        </ul>
    </div>

    <button (click)="toggleSidebar()" class="max-height:10px;">
        <i *ngIf="sidebarOpened" class="fa-solid fa-angles-left"></i>
        <i *ngIf="!sidebarOpened" class="fa-solid fa-angles-down"></i>
    </button> -->

    <!-- Main content -->
    <div class="flex-grow-1">
        <!-- Header -->
    

<!-- Stream grid -->
<p-carousel [value]="placeholderStreams" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
    styleClass="custom-carousel" class="secondBodyDashboard" [responsiveOptions]="responsiveOptions">

    <ng-template pTemplate="item" let-item>
        <div class="p-3">
            <div class="product-item" [routerLink]="['/tv', item.nombre]">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img [src]="item.logo || 'assets/user/profile.jpg'" alt="Image" style="border-radius: 8px;" />
                    </div>
                    <div>
                        <h4 class="product-title">{{item.nombre}}</h4>
                        <p class="product-description">{{item.nombre}}</p>
                    </div>
                </div>
                </div>
                </div>
    </ng-template>
    </p-carousel>

        <!-- <div class="container-fluid">
            <div class="row bodyDashboard" style="margin-top: 100px;">
                <div class="col-12 col-md-6 mb-4" *ngFor="let stream of placeholderStreams">
                    <div class="bg-dark rounded overflow-hidden">
                        <div class="botonesPrincipales h-100 d-flex align-items-center justify-content-center"
                            style="height: 150px;">
                            <span class="h5">Placeholder</span>
                        </div>
                        <div class="p-3">
                            <h5 [routerLink]="['/tv', stream.nombre]" class="font-weight-bold pointer">{{ stream.nombre
                                }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>